:root {
  --sans: "Public Sans", sans-serif;
  /* primary colors */
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);

  /* neutral colors */
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  --font-size: 1.125rem; /* 18px */
  --sm-font-size: 1rem /* 16px */;
}
/* screen reader only text  */
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}
/* -------------------------------- */

/* border box model: */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* generic styles */
body {
  padding: 0;
  margin: 0;
  font: 300;
  font-family: var(--sans);
  font-size: var(--font-size);
  background-color: var(--white);
}

ul {
  all: unset;
  list-style-type: none;
}

p {
  color: var(--grayish-blue);
  font-size: var(--sm-font-size);
}

header {
  position: relative;
  z-index: 1;
}

.hero-text,
.features,
.articles {
  padding: 2.5rem 1.25rem;
}

.section-light-grayish-blue {
  background-color: var(--light-grayish-blue);
}

.section-dark-blue {
  background-color: var(--dark-blue);
}

.section-very-light-gray {
  background-color: var(--very-light-gray);
}

a {
  text-decoration: none;
  color: var(--white);
}

.container {
  max-width: 70rem;
  margin: 0 auto;
}

/* credits */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.overlay.on {
  position: fixed;
  inset: 3.5rem 0 0 0;
  background-image: linear-gradient(var(--dark-blue), transparent);
}

.no-scroll {
  overflow: hidden;
}

/* navigation */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: var(--sm-font-size);
  position: relative;
}

.nav-links {
  display: flex;
  gap: 1.3rem;
  align-items: center;
}

.nav-links li {
  padding: 1rem 0rem;
  border-bottom: 0.3rem solid transparent;
}

.nav-links li:hover {
  border-image: linear-gradient(
      90deg,
      var(--lime-green) 0%,
      var(--bright-cyan) 100%
    )
    1;
  border-style: solid;
  border-width: 0 0 0.3rem 0;
}

.modal-menu {
  margin-top: 1.5rem;
  font-size: var(--sm-font-size);
  display: none;
  position: absolute;
  background-color: white;
  width: calc(100% - 4rem);
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.modal-menu a {
  color: var(--dark-blue);
}

.modal-menu ul {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  gap: 1.2rem;
  padding: 2rem 0;
}

nav a {
  color: var(--grayish-blue);
}

button {
  all: unset;
  cursor: pointer;
  padding: 0.8rem 1.86rem;
  font-weight: 700;
  background: linear-gradient(
    90deg,
    var(--lime-green) 0%,
    var(--bright-cyan) 100%
  );

  color: var(--white);
  border-radius: 1.563rem; /* 25px */
}

button:active {
  opacity: 0.5;
}

.desktop-only {
  display: none;
}

/* hero section */

.hero-img {
  background-image: url("../images/bg-intro-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 17rem;
  position: relative;
}

.hero-img::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("../images/image-mockups.png");
  background-size: 100%;
  background-position: center bottom;

  /* background-repeat: no-repeat; */
  /* background-position: center bottom; */
}

.heading {
  margin: 0;
  padding: 0;
  color: var(--dark-blue);
}

h1 {
  font-weight: 300;
  font-size: calc(var(--font-size) * 2.25);
}

.hero-text {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  /* padding: 2rem; */
  /* margin-top: -10rem; */
}

.hero-text p {
  line-height: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.hero-text button {
  font-size: var(--sm-font-size);
}

/* features section */

.features {
  background-color: var(--light-grayish-blue);
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h2 {
  color: var(--dark-blue);
  font-weight: 400;
}

.feature h4 {
  color: var(--dark-blue);
  font-weight: 300;
}

/* Articles */

.articles {
  background-color: var(--very-light-gray);
}

.articles h2 {
  text-align: center;
}

.article-list {
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
  align-items: center;
}

article {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  max-width: 22.75rem;
  border-radius: 5px;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.2);
}

.card-img {
  height: 12.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0 0;
}

.text h4 {
  font-weight: 300;
  color: var(--dark-blue);
}

article p {
  font-size: 0.8rem;
}

.author {
  font-size: xx-small;
  text-align: start;
}

.text {
  background-color: var(--white);
  border-radius: 0 0 5px 5px;
  padding: 1rem 2rem;
}

/* footer */

footer {
  background-color: var(--dark-blue);
  color: var(--white);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 1.25rem;
  text-align: center;
  padding: 2rem;
}

.social-media-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer-links {
  font-size: calc(var(--sm-font-size) - 0.125rem);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-links li:first-child {
  margin-top: 1.25rem;
}

.footer-links li:last-child {
  margin-bottom: 1.25rem;
}

footer button {
  font-size: small;
}

/* 800px */
@media (min-width: 50em) {
  .desktop-only {
    display: inline-block;
  }

  .mobile-only {
    display: none;
  }

  .features-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .feature {
    align-items: start;
    text-align: start;
  }

  .article-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: normal;
  }

  footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 3fr;
    grid-template-areas:
      "logo linksCol1 linksCol2 inviteBtn"
      "socialMedia linksCol1 linksCol2 copyright";
    padding: 2.1875rem;
  }

  footer img {
    grid-area: logo;
  }

  .social-media-icons {
    grid-area: socialMedia;
  }

  .footer-links-1 {
    grid-area: linksCol1;
  }

  .footer-links-2 {
    grid-area: linksCol2;
  }

  .footer-links-1 li,
  .footer-links-2 li {
    padding: 0.375rem;
  }

  footer button {
    grid-area: inviteBtn;
    justify-self: end;
  }

  footer p {
    grid-area: copyright;
    justify-self: end;
  }

  footer ul {
    font-size: var(--sm-font-size);
    font-weight: 300;
    text-align: start;
  }
}
